.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: flex;
  width: 70%;
  height: 80%;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 50px;
  background-color: rgba(30, 32, 42, 0.6);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}

form label {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0;
}

form input {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: var(--very-dark);
  color: var(--primary-text);
  font-size: 18px;
  font-weight: 300;
  border: none;
  line-height: 1;
}

input:focus {
  outline: none;
}

textarea {
  padding: 10px;
  height: fit-content;
  resize: vertical;
  background-color: var(--very-dark);
  color: var(--primary-text);
  border: none;
  border-radius: 10px;
  font-weight: 300;
  font-size: 18px;
}

textarea:focus {
  outline: none;
}

.form button {
  align-self: center;
  justify-self: flex-end;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: var(--red);
  color: var(--primary-text);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .contact {
    height: calc(100vh - 10vh);
  }

  .layout {
    width: 90%;
    height: 75%;
  }
}

@media (max-width: 575.98px) {
  .contact {
    padding: 0 20px;
  }

  form label {
    font-size: 16px;
  }

  form input,
  textarea {
    font-size: 14px;
  }

  .form button {
    font-size: 14px;
    padding: 5px 20px;
    margin-top: 50px;
  }
}
