.welcome {
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img {
  width: 250px;
  margin-top: 2.5rem;
}

.description {
  text-align: center;
}

.description h1 {
  font-size: 3rem;
  font-weight: 700;
}

.description h2 {
  font-size: 1.3rem;
  font-weight: 200;
  text-transform: uppercase;
}

.description p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.5rem 0;
}

@media (max-width: 991.98px) {
  .img {
    width: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .img {
    width: 150px;
  }
}

@media (max-width: 575.98px) {
  .img {
    width: 120px;
    margin-top: 0;
  }

  .description h1 {
    font-size: var(--sm-heading);
  }

  .description h2 {
    font-size: var(--sm-secondary);
  }

  .description p {
    font-size: var(--sm-info);
    font-weight: 400;
    padding: 0.2rem 0;
  }
}
