.work {
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.slide {
  position: relative;
  flex: 1 0 auto;
  /* flex-basis: 10px; */
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  margin: 0 5px;
}

.slide::after {
  content: "";
  position: absolute;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.slide:hover {
  flex: 2;
}

.active {
  flex: 0 0 80%;
}

.slide:hover::after {
  opacity: 0;
}

.project_info {
  display: none;
  width: 100%;
  height: 100%;
}

.project_info h2 {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 5px;
}

.project_info p {
  font-size: 20;
  font-weight: 300;
  padding-bottom: 5px;
  max-width: 80%;
}

.project_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.active .project_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 0;
}

.active .project_info::before {
  content: "";
  width: 100%;
  height: 30%;
  background-color: var(--dark-blue);
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.slide {
  /* background-image: url("https://images.unsplash.com/photo-1533468432434-200de3b5d528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80"); */
  background-position: right;
  object-fit: cover;
}
